@model EShopPUA.Controllers.ShopController.ShopViewModel
<!-- Category Start -->
<div class="mb-5">
    <h5 class="font-weight-semi-bold mb-4">Filter by category</h5>
    @foreach (var item in Model.Categories)
    {
        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
            <input type="checkbox" class="custom-control-input" checked id="category-@(item.Id)" name="selectedCategory">
            <label class="custom-control-label" for="category-@(item.Id)">@item.Name</label>
            <span class="badge border font-weight-normal text-dark">@Model.CountProducts.CategoryProducts(item.Id)</span>
        </div>
    }
</div>
<!-- Category End -->