@model IEnumerable<EShopPUA.Models.Brand>
<!-- Brand Start -->
<div class="border-bottom mb-4 pb-4">
                    <h5 class="font-weight-semi-bold mb-4">Filter by brand</h5>
    <form>
        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
            <input type="checkbox" class="custom-control-input" checked id="brand-all">
            <label class="custom-control-label" for="brand-all">All</label>
            <span class="badge border font-weight-normal">1000</span>
        </div>
        @foreach (var item in Model)
        {
            <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                <input type="checkbox" class="custom-control-input" checked id="brand-@(item.Id)">
                <label class="custom-control-label" for="brand-@(item.Id)">@item.Name</label>
                <span class="badge border font-weight-normal">246</span>
            </div>
        }
    </form>
</div>
<!-- Brand End -->
